

<script id="rendered-js" type="module">
    let ckeditor;
    ClassicEditor.create(document.querySelector(".editor"), {
    
    }).
    then(editor => {
    
      ckeditor = editor;
    }).
    catch(error => {
      console.error(error);
    });
     </script>

</body>
</html>